﻿
<style>
    html, body {
        padding: 0;
        margin: 0;
        height: 100%;
        min-height: 100%;
    }



    .quad {
        width: 50%;
        height: 100%;
        float: left;
    }

    .line {
        height: 50%;
        width: 100%;
    }


    .equal, .equal > div[class*='col-'] {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex: 1 0 auto;
    }

</style>
<div class="line">
    <div class="col-md-6 quad">
        <br />        <br />

        <br />
        <p>Release Codes</p>
        @(Html.Kendo().Grid<AFOC_APP.Models.User_ReleaseCodes>()
                                                                                  .Name("grid1")

                                                                                  .Columns(columns =>
                                                                                  {

                                                                                      columns.ForeignKey(c => c.ReleaseCodeID, (System.Collections.IEnumerable)ViewData["ReleaseCodes"], "Value", "Text").Width(100);
                                                                                      columns.Command(command => { command.Edit(); command.Destroy(); }).Width(100);
                                                                                  })
                                                                                  .ToolBar(toolbar =>
                                                                                  {
                                                                                      toolbar.Create();
                                                                                  })
                                                                                  .Editable(editable => editable.Mode(GridEditMode.InLine))
                                                                                  .Pageable()
                                                                                  .Sortable(sortable =>
                                                                                  {
                                                                                      sortable.SortMode(GridSortMode.SingleColumn);
                                                                                  })
                                                                                   .Scrollable(scr => scr.Height(200))

                                                                                  .DataSource(dataSource => dataSource
                                                                                      .Ajax()
                                                                                      .Model(
                                                                                      model =>
                                                                                      {
                                                                                          model.Id(p => p.ID);
                                                                                      }

                                                                                  )
                                                                                  .Read(read => read.Action("Lines_Read", "Authorization"))
                                                                                  .Create(create => create.Action("Lines_Create", "Authorization"))
                                                                                  .Update(update => update.Action("Lines_Update", "Authorization"))
                                                                                  .Destroy(destroy => destroy.Action("Lines_Destroy", "Authorization"))
                                                                                  )


        )
    </div>


    <div class="col-md-6 quad">
        <br />
        <br />
        <br />

        <p>Purchasing Groups</p>
        @(Html.Kendo().Grid<AFOC_APP.Models.User_PurchasingGroups>()
                                                                      .Name("grid2")

                                                                      .Columns(columns =>
                                                                      {

                                                                          columns.ForeignKey(c => c.PurchasingGroupID, (System.Collections.IEnumerable)ViewData["PurchasingGroups"], "Value", "Text").Width(100);
                                                                          columns.Command(command => { command.Edit(); command.Destroy(); }).Width(100);
                                                                      })
                                                                      .ToolBar(toolbar =>
                                                                      {
                                                                          toolbar.Create();
                                                                      })
                                                                      .Editable(editable => editable.Mode(GridEditMode.InLine))
                                                                      .Pageable()
                                                                      .Sortable(sortable =>
                                                                      {
                                                                          sortable.SortMode(GridSortMode.SingleColumn);
                                                                      })
                                                                       .Scrollable(scr => scr.Height(200))

                                                                      .DataSource(dataSource => dataSource
                                                                          .Ajax()
                                                                          .Model(
                                                                          model =>
                                                                          {
                                                                              model.Id(p => p.ID);
                                                                          }

                                                                      )
                                                                      .Read(read => read.Action("Lines_Read2", "Authorization"))
                                                                      .Create(create => create.Action("Lines_Create2", "Authorization"))
                                                                      .Update(update => update.Action("Lines_Update2", "Authorization"))
                                                                      .Destroy(destroy => destroy.Action("Lines_Destroy2", "Authorization"))
                                                                      )


        )
    </div>



    <div class="col-md-6 quad">
        <br />
        <p>Dccument types</p>
        @(Html.Kendo().Grid<AFOC_APP.Models.User_MarketListPR>()
                                                  .Name("grid3")

                                                  .Columns(columns =>
                                                  {

                                                      columns.ForeignKey(c => c.MasrketListPRID, (System.Collections.IEnumerable)ViewData["MarketListPRs"], "Value", "Text").Width(100);
                                                      columns.Command(command => { command.Edit(); command.Destroy(); }).Width(100);
                                                  })
                                                  .ToolBar(toolbar =>
                                                  {
                                                      toolbar.Create();
                                                  })
                                                  .Editable(editable => editable.Mode(GridEditMode.InLine))
                                                  .Pageable()
                                                  .Sortable(sortable =>
                                                  {
                                                      sortable.SortMode(GridSortMode.SingleColumn);
                                                  })
                                                   .Scrollable(scr => scr.Height(200))

                                                  .DataSource(dataSource => dataSource
                                                      .Ajax()
                                                      .Model(
                                                      model =>
                                                      {
                                                          model.Id(p => p.ID);
                                                      }

                                                  )
                                                  .Read(read => read.Action("Lines_Read3", "Authorization"))
                                                  .Create(create => create.Action("Lines_Create3", "Authorization"))
                                                  .Update(update => update.Action("Lines_Update3", "Authorization"))
                                                  .Destroy(destroy => destroy.Action("Lines_Destroy3", "Authorization"))
                                                  )


        )
    </div>
    <div class="col-md-6 quad">
        <br />
        <p>Plants</p>
        @(Html.Kendo().Grid<AFOC_APP.Models.User_Plant>()
                                              .Name("grid4")

                                              .Columns(columns =>
                                              {

                                                  columns.ForeignKey(c => c.PlantID, (System.Collections.IEnumerable)ViewData["Plants"], "Value", "Text").Width(100);
                                                  columns.Command(command => { command.Edit(); command.Destroy(); }).Width(100);
                                              })
                                              .ToolBar(toolbar =>
                                              {
                                                  toolbar.Create();
                                              })
                                              .Editable(editable => editable.Mode(GridEditMode.InLine))
                                              .Pageable()
                                              .Sortable(sortable =>
                                              {
                                                  sortable.SortMode(GridSortMode.SingleColumn);
                                              })
                                               .Scrollable(scr => scr.Height(200))

                                              .DataSource(dataSource => dataSource
                                                  .Ajax()
                                                  .Model(
                                                  model =>
                                                  {
                                                      model.Id(p => p.ID);
                                                  }

                                              )
                                              .Read(read => read.Action("Lines_Read4", "Authorization"))
                                              .Create(create => create.Action("Lines_Create4", "Authorization"))
                                              .Update(update => update.Action("Lines_Update4", "Authorization"))
                                              .Destroy(destroy => destroy.Action("Lines_Destroy4", "Authorization"))
                                              )


        )
    </div>



    <div class="col-md-6 quad">
        <br />


        <p>Cost Centers </p>
        @(Html.Kendo().Grid<AFOC_APP.Models.User_CostCenters>()
                                                                      .Name("grid5")

                                                                      .Columns(columns =>
                                                                      {

                                                                          columns.ForeignKey(c => c.CostCenterID, (System.Collections.IEnumerable)ViewData["CostCenters"], "Value", "Text").Width(100);
                                                                          columns.Command(command => { command.Edit(); command.Destroy(); }).Width(100);
                                                                      })
                                                                      .ToolBar(toolbar =>
                                                                      {
                                                                          toolbar.Create();
                                                                      })
                                                                      .Editable(editable => editable.Mode(GridEditMode.InLine))
                                                                      .Pageable()
                                                                      .Sortable(sortable =>
                                                                      {
                                                                          sortable.SortMode(GridSortMode.SingleColumn);
                                                                      })
                                                                       .Scrollable(scr => scr.Height(200))

                                                                      .DataSource(dataSource => dataSource
                                                                          .Ajax()
                                                                          .Model(
                                                                          model =>
                                                                          {
                                                                              model.Id(p => p.ID);
                                                                          }

                                                                      )
                                                                      .Read(read => read.Action("Lines_Read5", "Authorization"))
                                                                      .Create(create => create.Action("Lines_Create5", "Authorization"))
                                                                      .Update(update => update.Action("Lines_Update5", "Authorization"))
                                                                      .Destroy(destroy => destroy.Action("Lines_Destroy5", "Authorization"))
                                                                      )


        )
    </div>
    <div    class="col-md-6 quad">
        <br />
        <br />
        <br />
    </div>
</div>
<br />




<script type="text/javascript">
    function onChange(arg) { }
</script>