﻿
<br />
@(Html.Kendo().Grid<AFOC_APP.Models.UserRolesViewModel>()
                                      .Name("grid")

                                      .Columns(columns =>
                                      {

                                          columns.ForeignKey(c => c.name, (System.Collections.IEnumerable)ViewData["Roles"], "Value", "Text").Width(100);
                                          columns.Command(command => { command.Edit(); command.Destroy(); }).Width(100);
                                      })
                                      .ToolBar(toolbar =>
                                      {
                                          toolbar.Create();
                                      })
                                      .Editable(editable => editable.Mode(GridEditMode.InLine))
                                      .Pageable()
                                      .Sortable(sortable =>
                                      {
                                          sortable.SortMode(GridSortMode.SingleColumn);
                                      })
                                       .Scrollable(scr => scr.Height(400))

                                      .DataSource(dataSource => dataSource
                                          .Ajax()
                                          .Model(
                                          model =>
                                          {
                                              model.Id(p => p.ID);
                                          }

                                      )
                                      .Read(read => read.Action("Lines_Read", "Admin"))
                                      .Create(create => create.Action("Lines_Create", "Admin"))
                                      .Update(update => update.Action("Lines_Update", "Admin"))
                                      .Destroy(destroy => destroy.Action("Lines_Destroy", "Admin"))
                                      )


)



<script type="text/javascript">
    // var cc = $("#CostCenterID");
    //alert(cc.val);
    
    function onChange(arg) { }
    </script>