﻿@model IEnumerable<AFOC_APP.Models.ApplicationUser>

<br />

<div class="table-responsive" style="min-height: 300px;">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Position</th>
                <th>Status</th>          
            </tr>
        </thead>
        <tbody>

            @foreach (var user in Model)
            {

                if (user.UserName != User.Identity.Name)
                {
                    <tr>
                        <td>@user.UserName</td>
                        <td>@user.Status</td>

                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Action
                                </button>
                                <div class="dropdown-menu">
                                    <ul>
                                        <li>@Html.ActionLink("Activate", "activateUser", new { id = @user.Id })</li>
                                        <li>@Html.ActionLink("Deactivate", "deactivateUser", new { id = @user.Id })</li>
                                        <li>@Html.ActionLink("Assign Role", "UsersRoles", new { id = @user.Id })</li>
                                        <li>@Html.ActionLink("Authenticate", "Authenticate", new { id = @user.Id })</li>

                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                }

            }
        </tbody>
    </table>

</div>