﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/kendo/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/kendo")
    @Scripts.Render("~/bundles/bootstrap")


    <script src="../../Scripts/kendo/kendo.all.min.js"></script>
    <script src="../../Scripts/kendo/kendo.aspnetmvc.min.js"></script>

    <style>
        body {
            zoom: .80;
        }

        .k-grid-header .k-header {
            background-color: #ecf0f1;
        }
    </style>
</head>
<body>

    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("Application name", "Create", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                @if (Request.IsAuthenticated)
                {

                <ul class="nav navbar-nav">
                    @if (User.IsInRole("Admin"))
                    {
                        <li>@Html.ActionLink("Panel", "Panel", "Admin")</li>
                        <li>@Html.ActionLink("Users", "UsersList", "Admin")</li>


                    }
                    @if (User.IsInRole("PR"))
                    {
                        <li>@Html.ActionLink("Create", "New", "Home")</li>

                        <li>@Html.ActionLink("Edit PRs", "Edit", "Edit")</li>
                        <li>@Html.ActionLink("My PRs", "Report", "Report")</li>
                        <li>@Html.ActionLink("Release", "Release", "Release")</li>
                        <li>@Html.ActionLink("Reset", "Reset", "Reset")</li>
                        <li>@Html.ActionLink("Track", "Track", "Track")</li>
                    }

                </ul>

                }

                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">

                @RenderBody()
                <br />
                <hr />


                <footer>
                    <br />
                    <p>&copy; @DateTime.Now.Year -SAPIENT T&C</p>
                </footer>
            </div>
        </div>
    </div>




    @RenderSection("scripts", required: false)
</body>



</html>
