﻿@{
    ViewBag.Title = "Home Page";
}

@model AFOC_APP.Models.Master



@using (Html.BeginForm("Create", "Home", FormMethod.Post))
{
    string hidden = "";

    if (Model.SapErrorMSG == null || Model.SapErrorMSG == "")
    {
        hidden = "Hidden";
    }
    else
    {
        hidden = "";
    }
    <br />
 
    <div class="alert alert-danger" @hidden role="alert">
        @Model.SapErrorMSG
    </div>
    @Html.AntiForgeryToken()

    <div id="content" class="padding-20 ">


        <div class="form-horizontal">
            <div id="panel-1" class="panel panel-default">

                <br />


                <div class="form-group">

                    @*<div class="col-sm-1"></div>*@
                    <div class="col-md-5">
                        <div class="row">
                            <div class="form-group">
                                @Html.LabelFor(model => model.DocID, htmlAttributes: new { @class = "control-label col-md-4" }
                           )

                                <div class="col-md-6">
                                    @Html.EditorFor(model => model.DocID, new { htmlAttributes = new { @class = "form-control ", @disabled = "disabled", @readonly = "readonly"} })
                                    @Html.ValidationMessageFor(model => model.DocID, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="form-group">
                                @Html.LabelFor(model => model.MarketListPRID, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-6">
                                    @Html.DropDownListFor(model => model.MarketListPRID,(System.Collections.Generic.List<SelectListItem>)ViewData["MLList"],  new { @class = "control-label col-md-12",@onchange="filter(this.value)"})
                                    @Html.ValidationMessageFor(model => model.MarketListPRID, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="form-group">
                                @Html.LabelFor(model => model.DeliveryDateformat, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-6">
                                    @Html.Kendo().DatePickerFor(model => model.DeliveryDateformat).HtmlAttributes(new { @class = "datecontrol form-control " }).Min(DateTime.Now.Date.ToShortDateString())

                                    @Html.ValidationMessageFor(model => model.DeliveryDateformat, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">

                        </div>
                        <div class="row">
                            <div class="form-group">
                                @Html.LabelFor(model => model.PlantID, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-6">
                                    @Html.DropDownListFor(model => model.PlantID, (System.Collections.Generic.List<SelectListItem>)ViewData["PList"],  new { @class = "control-label col-md-12",@onchange = "filter(this.value)" })
                                    @Html.ValidationMessageFor(model => model.PlantID, "", new { @class = "text-danger" })
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">

                                @Html.LabelFor(model => model.PurchasingGroupID, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-6">
                                    @Html.DropDownListFor(model => model.PurchasingGroupID, (System.Collections.Generic.List<SelectListItem>)ViewData["PGList"], htmlAttributes: new { @class = "control-label col-md-12" })
                                    @Html.ValidationMessageFor(model => model.PurchasingGroupID, "", new { @class = "text-danger" })
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                @Html.LabelFor(model => model.AccountAssignmentID, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-6">

                                    @Html.DropDownListFor(model => model.AccountAssignmentID, (System.Collections.Generic.List<SelectListItem>)ViewData["ACCList"], htmlAttributes: new { @class = "control-label col-md-12" })
                                    @Html.ValidationMessageFor(model => model.AccountAssignmentID, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-5">
                        <div class="form-group">
                            @Html.LabelFor(model => model.HeaderNote, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div>
                                <div class="col-md-3">
                                    @Html.TextAreaFor(model => model.HeaderNote, htmlAttributes: new { cols = 60, rows = 13 })
                                </div>
                                @Html.ValidationMessageFor(model => model.HeaderNote, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <div>
        @(Html.Kendo().Grid<AFOC_APP.Models.Line>()
                                                                                                                                                                                                                      .Name("grid")

    .Columns(columns =>
    {
//columns.Bound(c => c.Material).ClientTemplate("#=Material.MaterialDesc#").Width(200);
columns.ForeignKey(c => c.MaterialID, (System.Collections.IEnumerable)ViewData["MMList"], "Value", "Text").Width(250);
        columns.Bound(c => c.Quantity).Width(70);
        columns.Bound(c => c.Unit).Width(50);
        columns.Bound(c => c.UnitPrice).Width(80);
        columns.Bound(c => c.TotalPrice).Width(80).Template(c => c).ClientTemplate("#=calculateField(data)#");
        columns.ForeignKey(c => c.CostCenterID, (System.Collections.IEnumerable)ViewData["CClist"], "Value", "Text").Width(250);
        columns.Bound(c => c.ItemText).Width(180);
        columns.Bound(c => c.MaterialPoText).Width(180);


        columns.Command(command => { command.Edit(); command.Destroy(); }).Width(100);
    })
                                                                                                                                                                                            .ToolBar(toolbar =>
                {
                    toolbar.Create();
                })

                .Editable(editable => editable.Mode(GridEditMode.InLine))
                .Events(e => e.Edit("gridEdit"))
                .Pageable()
                .Sortable(sortable =>
                {
                    sortable.SortMode(GridSortMode.SingleColumn);
                })
                .Scrollable(scr => scr.Height(400))

                .DataSource(dataSource => dataSource
                    .Ajax()
                    .Model(
                    model =>
                    {
                        model.Id(p => p.ID);
                        model.Field(f => f.TotalPrice).Editable(false);

                    }

                )
                .Read(read => read.Action("Lines_Read", "Home", new { MasterID = @Model.ID }))
                                                                                                                                                                                            .Create(create => create.Action("Lines_Create", "Home"))
                                                                                                                                                                                            .Update(update => update.Action("Lines_Update", "Home"))
                                                                                                                                                                                            .Destroy(destroy => destroy.Action("Lines_Destroy", "Home"))
                                                                                                                                                                                            )


        )
    </div>



    string Disabled = "";
    if (Model.MarketListPRID != null && Model.MarketListPRID.Trim() != "" && Model.DocID != "0" && Model.ErrorMSG == null)
    {
        Disabled = "disabled";
    }
    else
    {
        Disabled = "";
    }

    <br />
    <br />


    <div class="col-md-5"></div>
    <div class="col-md-4">
        <div class="col-md-3">
            <button type="button" class="btn btn-secondary" onclick="location.href='@Url.Action("New", "Home")'"> New PR
            </button>
        </div>
       
        <div class="col-md-3"> <button type="submit" name="submit" value="submit" @Disabled class="btn btn-primary">Submit</button></div>
       
       
    </div>
  

}








<script type="text/javascript">
    // var cc = $("#CostCenterID");
    //alert(cc.val);


<<<<<<< HEAD
    function filter(value) {
       // alert($("#PlantID").val());
            window.location.href = '@Url.Action("DOC_Filter_Materials", "Home")' + '?Plant=' + $("#PlantID").val()  + '&DOCTYPE=' + $("#MarketListPRID").val() + '&DD=' + $("#DeliveryDateformat").val() + '&HN=' + $("#HeaderNote").val() + '&PurchasingGroupID=' + $("#PurchasingGroupID").val() + '&AccountAssignmentID=' + $("#AccountAssignmentID").val();       
    }



    
=======
    function gridEdit(e) {
        var grid = this;
        //alert( $("#myInput").data("myValue"));
        var Costt = 0;
        var i = 0;
        var trs = this.tbody.find('tr').each(function () {
            var item = grid.dataItem($(this));
            Costt = item.CostCenterID;
        });
        if (Costt != "") {
            var trs = this.tbody.find('tr').each(function () {
                var item = grid.dataItem($(this));
                if (item.CostCenterID == "") {
                    //   alert(item.CostCenterID);
                    item.CostCenterID = Costt;
                }
            });
        }


    }

>>>>>>> aa23bec2cbd1fcf3dae4be45fce0d537bbc89ae3
    function calculateField(data) {
                                        return Number(data.Quantity * data.UnitPrice).toFixed(2);
                                    }
    function onChange(arg) {

        $.ajax({
                                            type: "Get",
            url: '@Url.Action("GetMaterial", "Home")',
            data: { ID: $("#MaterialID").val() },
            dataType: "json",
            success: function (data) {
                                                console.log(data);
                $("#UnitPrice").val(data.UnitPrice);
                $("#Unit").val(data.UnitType);

                                            }
                                        });
                                    }
                                //    alert('hello');

                                //    kendoConsole.log("Selected: " + selected.length + " item(s), [" + selected.join(", ") + "]");
                                //$("#MaterialList_listbox").change(function () {
                                //    alert('hello');
        @*$.ajax({
            type: "Get",
            url: '@Url.Action("GetCCDescription", "Home")',
            data: { ID: $("#CostCenterID").val() },
            dataType: "json",
            success: function (data) {
                console.log(data);
                $("#CostCenterDescription").val(data);

            }*@
        //});
        //})
    //});
    //function Total(p1, p2) {
    //    return p1 * p2;              // The function returns the product of p1 and p2
    //}

</script>



