﻿

<br />


<div id="panel-1" class="panel panel-default">

    <div class="row">

        <br />


        <div class="col-md-4"></div>
        <div class="col-md-4">

            <div class="col-md-4">
                <button type="button" class="btn btn-secondary" onclick="location.href='@Url.Action("Filter", "Report",new { id=1})'">Last 2 Days</button>
            </div>

            <div class="col-md-4">


                <button type="button" class="btn btn-secondary" onclick="location.href='@Url.Action("Filter", "Report",new { id=2})'">
                    Last Week
                </button>
            </div>


            <div class="col-md-4">
                <button type="button" class="btn btn-secondary" onclick="location.href='@Url.Action("Filter", "Report",new { id=3})'">
                    Last month
                </button>
            </div>

        </div>
    </div>
    <br />
</div>







@using (Html.BeginForm("Adopt", "Report", FormMethod.Post))
{

    <div class="row">

        @(Html.Kendo().Grid<AFOC_APP.Models.PRViewModel>()
                                            .Name("grid")
                                            .Columns(columns =>
                                            {
                                                columns.Template(@<text></text>).ClientTemplate("<input type='checkbox' #= Checked ? checked='checked':'' # class='chkbx' />").Width(50)
                                                .HeaderTemplate("<input type='checkbox' id='masterCheckBox' onclick='checkAll(this)'/>").Width(50);


                                                columns.Bound(c => c.Master.DocID).ClientTemplate(
    "<a href='" +
        Url.Action("Edit", "Edit") +
        "/?DocID=#= Master.DocID #' " +
    ">#= Master.DocID #</a>"
    ).Width(130);
                                                columns.Bound(c => c.Line.DELETE_IND).Width(80);
                                                columns.Bound(c => c.Line.MaterialID).Width(120);
                                                columns.Bound(c => c.Line.MatDesc).Width(250);
                                                columns.Bound(c => c.Line.Quantity).Width(100);
                                                columns.Bound(c => c.Line.UnitPrice).Width(120);
                                                columns.Bound(c => c.Line.TotalPrice).Width(120);
                                                columns.Bound(c => c.Line.CostCenterName).Width(250);
                                                columns.Bound(c => c.Line.CostCenterDescription).Width(250);
                                                columns.Bound(c => c.Line.CostCenterID).Width(120);
                                                columns.Bound(c => c.Master.MarketListPRID).Width(120);
                                                columns.Bound(c => c.PG_Description).Width(200);
                                                columns.Bound(c => c.PG_ID).Width(120);
                                                columns.Bound(c => c.Master.DeliveryDate).Width(120);
                                                columns.Bound(c => c.REL_DATE).Width(120);
                                                columns.Bound(c => c.MAT_GRP).Width(80);
                                                columns.Bound(c => c.Plant_ID).Width(120);

                                            })
                                                                        .Pageable()
                                                                        .Navigatable()
                                                                        .Selectable(selectable =>
                                                                        {
                                                                            selectable.Mode(GridSelectionMode.Multiple);
                                                                            selectable.Type(GridSelectionType.Row);
                                                                        })

                                                                        .Sortable(sortable =>
                                                                        {
                                                                            sortable.SortMode(GridSortMode.SingleColumn);
                                                                        })
                                                                        .Filterable()
                                                                        .Scrollable(src => src.Height(600))
                                                                        .Resizable(resize => resize.Columns(true))
                                                                        .Reorderable(reorder => reorder.Columns(true))
                                                                        .DataSource(dataSource => dataSource
                                                                            .Ajax()

                                                                            .Model(model =>
                                                                            {
                                                                                model.Id(p => p.RepID);

                                                                            }

                                                                            )
                                                                            .Batch(true)
                                                                            .PageSize(25)
                                                                            .Read(read => read.Action("Masters_Read", "Report"))
                                                                            .Update(up => up.Action("Adopt", "Report"))
                                                                        )
                                                                         .Editable(ed => ed.Mode(GridEditMode.InCell))
                                                                         .ToolBar(tb => tb.Save().SaveText("Adopt"))



        )

    </div>


    <br />


    @*<div id="panel-1" class="panel panel-default">

        <div class="row">

            <br />
            <div class="col-md-5"></div>
            <div class="col-md-4">

                <div class="col-md-4">
                    <button type="button" class="btn btn-secondary" onclick="location.href='@Url.Action("Create", "Home")'">Adpot</button>
                </div>
            </div>
        </div>
        <br />
    </div>*@


}


<script type="text/javascript">
    $(function () {
        $('#grid').on('click', '.chkbx', function () {
            var checked = $(this).is(':checked');
            var grid = $('#grid').data().kendoGrid;
            var dataItem = grid.dataItem($(this).closest('tr'));
            dataItem.set('Checked', checked);
        })
    })

    function checkAll(ele) {
        var state = $(ele).is(':checked');
        var grid = $('#grid').data().kendoGrid;
        $.each(grid.dataSource.view(), function () {
            if (this['Checked'] != state)
                this.dirty = true;
            this['Checked'] = state;
        });
        grid.refresh();
    }

</script>
