﻿@model AFOC_APP.Models.Master
@{
    ViewBag.Title = "Index";

}
<br />

@using (Ajax.BeginForm("Search", "Edit", new AjaxOptions
        {
            UpdateTargetId =
        "searchResults",
            OnSuccess = "checkSearchChanged"
        }))
{

    <br /><br />
          <div class="form-horizontal">
              <div class="form-group">
                  <div class="col-md-4">
                      <input type="text" @*onkeyup="javascript:SearchResults(this.value)"*@ class="form-control" placeholder="Search" name="keyword" id="keyword" />
                  </div>
                  <div class="col-md-2">
                      <button class="btn btn-primary" type="submit">
                          <span class="glyphicon glyphicon-search"></span>
                      </button>
                  </div>

              </div>
              <div id="searchResults"></div>

          </div>


    <br />
}




@using (Html.BeginForm("Update", "Edit", FormMethod.Post))
{
    string hidden = "";

    if (@Model.SapErrorMSG == null || @Model.SapErrorMSG == "")
    {
        hidden = "Hidden";
    }
    else
    {
        hidden = "";
    }




    <div class="alert alert-danger" @hidden role="alert">
        @Model.SapErrorMSG
    </div>
    @Html.AntiForgeryToken()

    <div id="content" class="padding-20 ">


        <div class="form-horizontal">
            <div id="panel-1" class="panel panel-default">

                <br />


                <div class="form-group">

                    @*<div class="col-sm-1"></div>*@
                    <div class="col-md-5">
                        <div class="row">
                            <div class="form-group">
                                @Html.LabelFor(model => model.DocID, htmlAttributes: new { @class = "control-label col-md-4"})

                                <div class="col-md-6">
                                    @Html.EditorFor(model => model.DocID, new { htmlAttributes = new { @class = "form-control", @readonly="readonly"} })
                                    @Html.ValidationMessageFor(model => model.DocID, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="form-group">
                                @Html.LabelFor(model => model.MarketListPRID, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-6">
                                    @Html.EditorFor(model => model.MarketListPRID, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.MarketListPRID, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="form-group">
                                @Html.LabelFor(model => model.DeliveryDateformat, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-6">
                                    @Html.Kendo().DatePickerFor(model => model.DeliveryDateformat).HtmlAttributes(new { @class = "datecontrol form-control " })

                                    @Html.ValidationMessageFor(model => model.DeliveryDateformat, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">

                        </div>
                        <div class="row">
                            <div class="form-group">
                                @Html.LabelFor(model => model.PlantID, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-6">
                                    @Html.EditorFor(model => model.PlantID, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.PlantID, "", new { @class = "text-danger" })
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">

                                @Html.LabelFor(model => model.PurchasingGroupID, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-6">
                                    @Html.DropDownListFor(model => model.PurchasingGroupID, (System.Collections.Generic.List<SelectListItem>)ViewData["PGList"], htmlAttributes: new { @class = "control-label col-md-12" })
                                    @Html.ValidationMessageFor(model => model.PurchasingGroupID, "", new { @class = "text-danger" })
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                @Html.LabelFor(model => model.AccountAssignmentID, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-6">

                                    @Html.DropDownListFor(model => model.AccountAssignmentID, (System.Collections.Generic.List<SelectListItem>)ViewData["ACCList"], htmlAttributes: new { @class = "control-label col-md-12" })
                                    @Html.ValidationMessageFor(model => model.AccountAssignmentID, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-5">
                        <div class="form-group">
                            @Html.LabelFor(model => model.HeaderNote, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div>
                                <div class="col-md-3">
                                    @Html.TextAreaFor(model => model.HeaderNote, htmlAttributes: new { cols = 60, rows = 13 })
                                </div>
                                @Html.ValidationMessageFor(model => model.HeaderNote, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>




                <br />


            </div>
        </div>

    </div>

    @(Html.Kendo().Grid<AFOC_APP.Models.Line>()
                                                    .Name("grid")
                                                    .Columns(columns =>
                                                    {
                                                        columns.Bound(c => c.DELETE_IND).Width(30);
                                                        columns.ForeignKey(c => c.MaterialID, (System.Collections.IEnumerable)ViewData["MMList"], "Value", "Text").Width(230);
                                                        columns.Bound(c => c.Quantity).Width(70);
                                                        columns.Bound(c => c.Unit).Width(50);
                                                        columns.Bound(c => c.UnitPrice).Width(80);
                                                        columns.Bound(c => c.TotalPrice).Width(80).Template(c => c).ClientTemplate("#=calculateField(data)#");
                                                        columns.ForeignKey(c => c.CostCenterID, (System.Collections.IEnumerable)ViewData["CClist"], "Value", "Text").Width(230);
                                                        columns.Bound(c => c.ItemText).Width(180);
                                                        columns.Bound(c => c.MaterialPoText).Width(180);


                                                        columns.Command(command => { command.Edit(); command.Destroy(); }).Width(100);
                                                    })
  
                                                    .Editable(editable => editable.Mode(GridEditMode.InLine))
                                                    .Pageable()
                                                    .Sortable(sortable =>
                                                    {
                                                        sortable.SortMode(GridSortMode.SingleColumn);
                                                    })
                                                       .Scrollable(scr => scr.Height(400))

                                                    .DataSource(dataSource => dataSource
                                                        .Ajax()

                                                        .Model(
                                                        model =>
                                                        {
                                                            model.Id(p => p.ID);
                                                            model.Field(p => p.DELETE_IND).Editable(false);

                                                        }


                                                    )
                                                    .Read(read => read.Action("Lines_Read", "Edit", new { MasterID = @Model.ID }))
                                                    .Create(create => create.Action("Lines_Create", "Edit"))
                                                    .Update(update => update.Action("Lines_Update", "Edit"))
                                                    .Destroy(destroy => destroy.Action("Lines_Destroy", "Edit"))
                                                    )
                                                    .Events(ev => ev
            .Save(@"function(e){setTimeout(function(){$('#grid').data('kendoGrid').dataSource.sync()})}")
             .Remove(@"function(e){setTimeout(function(){$('#grid').data('kendoGrid').dataSource.sync()})}")
        )

    )

    string Disabled = "";
    if (Model.MarketListPRID != null && Model.MarketListPRID.Trim() != "" && Model.DocID == "" && Model.ErrorMSG == null)
    {
        Disabled = "disabled";
    }
    else
    {
        Disabled = "";
    }

    <br />
   






    <div class="col-md-4"></div>
    <div class="col-md-4">


        <div class="col-md-3">
            <button type="submit" name="submit" value="submit" @Disabled class="btn btn-primary">Change</button>
        </div>



        <div class="col-md-6">

            <button type="Button" class="btn btn-danger" onclick="location.href='@Url.Action("Delete", "Edit",@Model)'">
                DELETE PR
            </button>

        </div>

    </div>




}








<script type="text/javascript">

    function calculateField(data) {
        return Number(data.Quantity * data.UnitPrice).toFixed(2);
    }
    function onChange(arg) {

        $.ajax({
            type: "Get",
            url: '@Url.Action("GetMaterial", "Home")',
            data: { ID: $("#MaterialID").val() },
            dataType: "json",
            success: function (data) {
                console.log(data);
                $("#UnitPrice").val(data.UnitPrice);
                $("#Unit").val(data.UnitType);

            }
        });
    }
    @*function SearchResults(search) {
        debugger;
        $.ajax({
            type: "Get",
            url: '@Url.Action("PRs", "Edit")',
            data: { ID: $("#keyword").val() },
            dataType: "json",
            success: function (data) {
                $("#searchResults").html(data);
            },
            error: function (response) {
                alert("error has occurred: " + response);
            }
        });
    }*@
</script>

