﻿

<br />


<div id="panel-1" class="panel panel-default">

    <div class="row">

        <br />


        <div class="col-md-4"></div>
        <div class="col-md-4">

            <div class="col-md-4">
                <button type="button" class="btn btn-secondary" onclick="location.href='@Url.Action("Track_Filter", "Track",new { id=1})'">Last 2 Days</button>
            </div>

            <div class="col-md-4">


                <button type="button" class="btn btn-secondary" onclick="location.href='@Url.Action("Track_Filter", "Track",new { id=2})'">
                    Last Week
                </button>
            </div>


            <div class="col-md-4">
                <button type="button" class="btn btn-secondary" onclick="location.href='@Url.Action("Track_Filter", "Track",new { id=3})'">
                    Last month
                </button>
            </div>

        </div>
    </div>
    <br />
</div>




@(Html.Kendo().Grid<AFOC_APP.Models.PRViewModel>()
                                            .Name("grid")
                                            .Columns(columns =>
                                            {

                                    //columns.Bound(e => e.DocID).ClientTemplate("<a href='" + Url.Action("ProductDetails", "Product",new { DocID = "#=DocID#" }) + "'" + ">#= DocID #</a>").Width(130);
                                    columns.Bound(e => e.Master.DocID).Width(130);
                                                columns.Bound(e => e.PG_Description).Width(130);
                                                columns.Bound(e => e.Plant_Description).Width(130);
                                                columns.Bound(e => e.REL_DATE).Width(110);
                                                columns.Bound(e => e.Master.MarketListPRID).Width(110);

                                            })
                                            .Sortable()
                                            .Pageable()
                                            .Scrollable()
                                            .ClientDetailTemplateId("template")
                                            .HtmlAttributes(new { style = "height:600px;" })
                                            .DataSource(dataSource => dataSource
                                                .Ajax()
                                            .Model(model =>
                                            {
                                                model.Id(p => p.RepID);

                                            }

                                            )

                                                .PageSize(25)
                                                .Read(read => read.Action("HierarchyBinding_Employees", "Track"))

                                            )
                                            .Events(events => events.DataBound("dataBound"))
)

<script id="template" type="text/kendo-tmpl">
    @(Html.Kendo().Grid<AFOC_APP.Models.PRViewModel2>()
                                                                        .Name("grid_#=DocID#") // template expression, to be evaluated in the master context
                                                                        .Columns(columns =>
                                                                        {




                                                                            columns.Bound(o => o.status).Width(110);

                                                                            columns.Bound(o => o.REL_IND_TX).Width(110);
                                                                            columns.Bound(o => o.REL_CD_TX1).Width(110);
                                                                            columns.Bound(o => o.REL_CD_TX2).Width(110);
                                                                            columns.Bound(o => o.REL_CD_TX3).Width(110);
                                                                            columns.Bound(o => o.REL_CD_TX4).Width(110);
                                                                            columns.Bound(o => o.REL_CD_TX5).Width(110);
                                                                            columns.Bound(o => o.REL_CD_TX6).Width(110);
                                                                            columns.Bound(o => o.REL_CD_TX7).Width(110);


                                                                        })

                                                                                       .ClientDetailTemplateId("template2")


                                                                                        .DataSource(dataSource => dataSource
                                                                                        .Ajax()
                                                                                        .PageSize(1)
                                                                                        .Read(read => read.Action("HierarchyBinding_Orders", "Track", new { DocID = "#=DocID#" })))
                                                                                        .ToClientTemplate()




    )
</script>





<script id="template2" type="text/kendo-tmpl">
    @(Html.Kendo().Grid<AFOC_APP.Models.PRViewModel3>()
                            .Name("grid_#=RepID#") // template expression, to be evaluated in the master context
                            .Columns(columns =>
                            {
                                columns.Bound(o => o.Line.MatDesc).Width(110);
                                columns.Bound(o => o.Line.MaterialID).Width(150);
                                columns.Bound(o => o.Line.Quantity).Width(150);
                                columns.Bound(o => o.Line.UnitPrice).Width(300);
                                columns.Bound(o => o.Line.TotalPrice).Width(300);
                                columns.Bound(o => o.MAT_GRP).Width(300);
                            })
                            .DataSource(dataSource => dataSource
                            .Ajax()
                            .PageSize(10)
                            .Read(read => read.Action("HierarchyBinding_PRs", "Track", new { DocID = "#=DocID#" })))
                            .Pageable()
                            .Sortable()
                            .ToClientTemplate()
    )
</script>

<script>
    function dataBound() {
        //this.expandRow(this.tbody.find("tr.k-master-row").first());
    }
</script>
